---
import CategoryBranch from "@components/widget/CategoryBranch.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import {
	getNestedCategoryList,
	getTaxonomyDisplayMappings,
} from "../utils/content-utils";
import { Config } from "../constants";
import { getPathAlternates, withLangPrefix } from "../utils/i18n-utils";

const lang = Config.i18n.defaultLang;
const categories = await getNestedCategoryList(lang);
const { categories: categoryDisplayMap } = await getTaxonomyDisplayMappings(lang);
const categoriesUrl = withLangPrefix("/categories/", lang);
const alternates = getPathAlternates((itemLang) => withLangPrefix("/categories/", itemLang));
---

<MainGridLayout title={i18n(I18nKey.categories, lang)} lang={lang} alternates={alternates} canonicalUrl={categoriesUrl}>
	<div class="card-base px-8 py-6">
		<h1 class="text-3xl font-bold mb-6 text-black/90 dark:text-white/90">{i18n(I18nKey.categories, lang)}</h1>
		<div class="grid gap-2">
			{categories.map((category) => (
				<CategoryBranch node={category} categoryDisplayMap={categoryDisplayMap} />
			))}
		</div>
	</div>
</MainGridLayout>
