---
import type { GetStaticPaths } from "astro";
import ButtonTag from "@components/control/ButtonTag.astro";
import TagTopList from "@components/taxonomy/TagTopList.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import {
	getTagList,
	getTaxonomyDisplayMappings,
} from "../../utils/content-utils";
import {
	fromLangSlug,
	getPathAlternates,
	getPrefixedLanguages,
	toLangSlug,
	withLangPrefix,
} from "../../utils/i18n-utils";
import { getTagName, getTagUrl } from "../../utils/url-utils";

export const getStaticPaths = (() =>
	getPrefixedLanguages().map((lang) => ({
		params: { lang: toLangSlug(lang) },
		props: { lang },
	}))) satisfies GetStaticPaths;

const lang = fromLangSlug(Astro.params.lang);
const tags = await getTagList(lang);
const { tags: tagDisplayMap } = await getTaxonomyDisplayMappings(lang);
const tagsUrl = withLangPrefix("/tags/", lang);
const alternates = getPathAlternates((itemLang) => withLangPrefix("/tags/", itemLang));
---

<MainGridLayout title={i18n(I18nKey.tags, lang)} lang={lang} alternates={alternates} canonicalUrl={tagsUrl}>
	<div class="card-base px-8 py-6">
		<h1 class="text-3xl font-bold mb-6 text-black/90 dark:text-white/90">{i18n(I18nKey.tags, lang)}</h1>
		<div class="flex flex-wrap gap-2">
			{tags.map((tag) => (
				<ButtonTag href={getTagUrl(tag.name, lang)} label={`${i18n(I18nKey.tags, lang)}: ${getTagName(tag.name, tagDisplayMap)}`}>
					{getTagName(tag.name, tagDisplayMap)}
				</ButtonTag>
			))}
		</div>
		<TagTopList tags={tags} tagDisplayMap={tagDisplayMap} lang={lang} />
	</div>
</MainGridLayout>
